body {
    font-family: Arial;
    padding: 10px;
    background-color: purple;
}

h1 {
    color: white;
    font-family: verdana;
    font-size: 200%;
}

p {
    color: white;
    font-family: Arial;
    font-size: 150%;
    /* border: 1px solid black; */
}

header {
	text-align: left;
	padding: 5px;
	background: #5b0058;
	color: white;
	font-size: 100%;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 14px 16px;
	text-align: center;
	background-color: #b900a2;
    color: white;
	margin: 0;
	font-family: Arial;
}

nav a:hover {
	background-color: #4a235a;
	color: white;
}

main {
	background-color #b900a2;
}

footer {
	display: block;
	background : #5b0058;
	padding: 1px;
	color: white;
	font-size: 100%;
	text-align: center;
	clear: both;
}

footer p {
	color: white;
    font-family: Arial;
    font-size: 110%;
}

section {
	
}

article {
	display: block;
	background : #5b0058;
	margin: 5;
	padding: 10px;
	color: white;
	font-size: 100%;
	text-align: left;
}

aside {
	display: block;
	background: #5b0058;
	padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b900a2;
}

li {
	float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #4a235a;
}
