body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 10px;
    background-color: purple;
}

h1 {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
}

h2 {
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 150%;
}

p {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 130%;
    /* border: 1px solid black; */
}

header {
	text-align: left;
	padding: 5px;
	background: #5b0058;
	color: white;
	font-size: 100%;
}

header h1 {
	display: inline;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 14px 16px;
	text-align: center;
	background-color: #b900a2;
    color: white;
	margin: 0;
	font-family: Arial;
}

nav a:hover {
	background-color: #4a235a;
	color: white;
}

main {
	background-color #b900a2;
}

footer {
	display: block;
	/*background : #5b0058;*/
	padding: 1px;
	color: white;
	font-size: 100%;
	text-align: center;
	clear: both;
}

footer p {
	color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 110%;
}

section {
	float: left;
	margin: 0 1.5%;
	width: 63%;
}

article {
	display: block;
	background : #5b0058;
	margin: 5;
	padding: 10px;
	color: white;
	font-size: 100%;
	text-align: left;
}

aside {
	/*display: block;
	background: #5b0058;
	padding: 10px;*/
	float: right;
	margin: 0 1.5%;
	width: 30%;
}
